{% extends "base.html" %}
{% block title %}Home | Creations with Happycilline{% endblock %}
{% block meta_desc %}Discover handmade wreaths, Krapeks, and seasonal decor crafted with love.{% endblock %}
{% block content %}

    <div class="container py-4">

        <hr class="my-4">

        <h2 class="h4 mb-3">Latest Products</h2>
        <div class="row g-3">
            {% for p in latest_products %}
                <div class="col-6 col-md-4 col-lg-3">
                    {% include 'products/partials/_product_card.html' with product=p %}
                </div>
            {% empty %}
                <p>No products yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}