<!-- just a template as a start, fill out later -->
{% extends "base.html" %}
{% block title %}Privacy Policy | Creations with Happycilline{% endblock %}
{% block content %}
    <h1>Privacy Policy</h1>
    <p> This policy explains how we collect and use your data when you shop with us.</p>
    <h5>Controller</h5><p>Creations with Happycilline - contact: happycilline@gmail.com</p>
    <h5>Data we process</h5>
    <ul>
        <li>Account & Order deatils</li>
        <li>Payment processing via Stripe</li>
        <li>Newsletter via Mailchimp</li>
    </ul>
    <h5>Legal Bases</h5>
    <ul>
        <li>Contract performance (orders)</li>
        <li>Consent (newsletter)</li>
        <li>Legal obligations (invoicing)</li>
    </ul>
    <p>See FAQs for shipping/returns. You may request access, correction, or deletion at any time</p>
{% endblock %}